* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
}

/*img logo site*/
#logo {
    height: 20rem;
    margin: 1rem;
}

/*le menu*/
.header {
    display: flex;
    justify-content: space-between;
}

/*image*/
#cat {
    width: 70rem;
}

/*sous-menu*/
#window {
    position: fixed;
    letter-spacing: 0.2rem;
    margin: 10px;
    right: 5px;
}

/*modal-1*/
#modal-1 a {
    padding: 2rem;
}

#modal-1 input {
    margin: 2rem;
}

.closeWdw, #close {
    font-size: 1.3rem;
}

#btnOpen, #disconnect {
    margin: 1rem;
}

/*btn deco*/
#disconnect {
    color:#ffc19d;
    font-weight: bold;
}

/*modal-2*/
#modal-2 input {
    margin: 2rem;
}

/* a*/
a {
    text-decoration-line: none;
    color: black;
}

/*animation a*/
a:hover,#disconnect:hover {
    color: #03989e;
}

#message {
    padding: 2rem;
}

#sendMessage {
    padding: 0.8rem;
}

#messageToSend {
    width: 100%;
    padding: 1rem;
}

/*Design tchat*/
#tchat {
    background-color: #ffc19d;
}

/*affichage des messages*/
.message {
    background-color: white;
    display: flex;
    flex-direction: column;
    color:white;
}

.messages-wrapper {
    border-radius:  1rem 10rem / 12rem;
    background: #03989e;
    margin: 2rem;
    padding: 2rem;
}

.contentMessage {
    color: #ffc19d;
    padding-left: 2rem;
}

.italic {
    font-style: italic;
    font-size: 1.3rem;
}

.bold {
    font-weight: bold;
}

.btn {
    padding: 0.8rem;
    background-color: #efefef;
    border: 0.1rem outset rgb(133, 133, 133);
    text-align: center;
    user-select: none;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.flex-row-end {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.modal input, .modal button {
    padding: 0.8rem;
    margin: 2rem;
}

h3 {
    color: white;
    padding-top: 2rem;
    padding-left: 2rem;
}