* {
    margin:auto;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

/*img logo site*/
/*pas de height sinon l'img s'étire*/
#logo {
    width: 10%;
    position:absolute;
    margin: 10px;
    z-index: 1000;
}

/*le menu*/
.menu {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
    top:0;
    position: relative;
}

.cat {
    position: absolute;
}

/*image*/
#cat {
    width: 70rem;
    top: 2rem;
    position: absolute;
    left: 42rem;
}

/*sous-menu*/
#menuContainer {
    position: fixed;
    letter-spacing: 0.2rem;
    margin: 10px;
    right: 5px;
}

#menuContainer, #windowConnect {
    font-size: 2rem;
}

/* inscription/connection*/
.connect, .windowConnect {
    display: none;
}

/*buttons
#usersList {
    margin-left: 69rem;
    position: relative;
    bottom: -4rem;
    right: 15rem;

}*/

 #sendMessage {
    margin-left: 0;
     position: relative;
     bottom: 5rem;
     left: 45rem;
     font-size: 2rem;
}

 #messageToSend {
     margin: 2rem;
     width: 25%;
     height: 9rem;
     overflow: auto;
     position: relative;
     left: 45rem;
     padding: 1rem;
     font-size: 2rem;
 }

/*Design tchat*/
#tchat {
    background-color: #ffc19d;
    position: relative;
    top: 36rem;
    width: 100%;
    font-size: 2rem;
}

/*affichage des messsages*/
.message {
    background-color: #03989e;
    border: 3px solid white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 85%;
    color:white;
    font-size: 2rem;
}

/*responsive*/
@media screen and (max-width: 1000px) {

    #container {
        width: 100%;
    }

    .menu {
        background-image: none;
        background-color: white;
    }

    #tchat {
        width: 100%;
        top: 32rem;
        position: relative;
        background-color: #ffc19d;
    }

    /*#usersList {
        margin-left: 51rem;
        position: relative;
        bottom: -4rem;
        right: 15rem;
    } */

    #sendMessage {
        margin-left: 0;
        position: relative;
        bottom: 5rem;
        left: 31rem;
    }

    #messageToSend {
        margin: 2rem;
        width: 25%;
        height: 9rem;
        overflow: auto;
        position: relative;
        left: 31rem;
    }

    .message {
        width: 91%;
        justify-content: center;
    }

    #cat {
        display: none;
    }

}