* {
    margin:auto;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size: 52%;
}

body {
    width: 100%;
}

/*img logo site*/
/*pas de height sinon l'img s'étire*/
#logo {
    width: 10%;
    position:absolute;
    margin: 10px;
    z-index: 1000;
}

/*le menu*/
.menu {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
    top:0;
    position: relative;
}

.menu {
   background-image: url("/assets/img/back.png");
   background-size: cover;
}

/*sous-menu*/
#menuContainer {
    position: fixed;
    letter-spacing: 0.2rem;
    margin: 10px;
    right: 5px;

}

#menuContainer a {
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 3rem;
    text-decoration-line: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

/*animation a*/
a {
    background: linear-gradient(to top, #03989e 0%, purple 5px, transparent 5px);
    background-size: 0 100%;
    transition: backgroud-size 0.5s;
    font-size: large;
}

a:hover {
    background-size: 100% 100%;
}

/* inscription/connection*/
.connect, .windowConnect {
    display: none;
}

/*buttons
#usersList {
    margin-left: 69rem;
    position: relative;
    bottom: -4rem;
    right: 15rem;

}*/

 #sendMessage {
    margin-left: 0;
     position: relative;
     bottom: 5rem;
     left: 45rem;
}

 #messageToSend {
     margin: 2rem;
     width: 25%;
     height: 9rem;
     overflow: auto;
     position: relative;
     left: 45rem;
     padding: 1rem;
 }

/*Design tchat*/
#tchat {
    background-color: #ffc19d;
    position: relative;
    top: 103rem;
    width: 100%;
}

/*affichage des messsages*/
.message {
    background-color: #03989e;
    border: 3px solid white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 85%;
    color:white;
    font-size: 2rem;
}

/*responsive*/
@media screen and (max-width: 1000px) {

    #container {
        width: 100%;
    }

    .menu {
        background-image: none;
        background-color: white;
    }

    #menuContainer a {
        color: #ffc19d;
        font-size: 2rem;
        background-color: transparent;
        font-weight: bold;
        text-decoration-line: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        margin: 2rem;
    }

    a {
        background: linear-gradient(to top, white 0%, #03989e 5px, transparent 5px);
        background-size: 0 100%;
        /*opacity: 0.33;*/
        transition: backgroud-size 0.5s;
        font-size: large;
    }

    a:hover {
        background-size: 100% 100%;
    }


    #tchat {
        width: 100%;
        top: 17rem;
        position: relative;
        background-color: #ffc19d;
    }

    /*#usersList {
        margin-left: 51rem;
        position: relative;
        bottom: -4rem;
        right: 15rem;
    } */

    #sendMessage {
        margin-left: 0;
        position: relative;
        bottom: 5rem;
        left: 31rem;
    }

    #messageToSend {
        margin: 2rem;
        width: 25%;
        height: 9rem;
        overflow: auto;
        position: relative;
        left: 31rem;
    }

    .message {
        width: 91%;
        justify-content: center;
    }
}